.recipe-details {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

.listing-photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}

.listing-description {
  margin-right: 15px;
}

.listing-heading {
  font-weight: bold;
}


.chip{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.recipe-steps{
  padding-right: 10px;
  text-align: justify;
  hyphens: auto;
  word-wrap: break-word;
}

h2{
  margin-top: 20px;
}

.info-area{
  display: grid;
  grid-template-areas: "c f";
  grid-template-columns: 50% 50%;
}

.chip-area{
  grid-area: c;
}

.add-favorite{
  grid-area: f;
  justify-self: end;
}
