.recipe-details {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

.recipe-head {
  display: grid;
  grid-template-areas:
    "a b";
  grid-template-columns: 50% 50%;
}

.recipe-head h2{
  margin-top: 15px;
}

.listing-photo {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
  grid-area: b;
}

.listing-description {
  grid-area: a;
  margin-right: 15px;
}

.listing-heading {
  font-weight: bold;
}


.chip{
  margin-right: 10px;
}

.recipe-steps{
  padding-right: 10px;
  text-align: justify;
  hyphens: auto;
  word-wrap: break-word;
}

