<div class="home-view">
    <section class="head-area">
        <h2>Meine Rezepte</h2>
        <div class="search">
            <input #searchBox type="text" placeholder="Rezept suchen">
            <button mat-raised-button color="accent" (click)="filterResults(searchBox.value)" class="button-search">
                <mat-icon>search</mat-icon>
                Suchen
            </button>
        </div>

    </section>
    <div class="result-container">
        <section class="results">
            <app-recipes *ngFor="let recipe of filteredRecipeList" [recipe]="recipe"></app-recipes>
        </section>
    </div>
</div>

