#delete-warn-title {
    color: #f44336;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#delete-warn-text {
    padding-top: 0px;
}

#delete-warn-mark {
    font-weight: bold;
    text-decoration: underline;
}
