<h2>Rezept erstellen</h2>
<mat-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="recipe_information">

        <form class="add-recipe-form" [formGroup]="recipe_information" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel>Rezeptinformationen</ng-template>

            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="fill" class="add-recipe-input">
                            <mat-label>Bild-URL</mat-label>
                            <input matInput id="image" type="text" formControlName="image_url">
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="fill" class="add-recipe-input">
                            <mat-label>Name</mat-label>
                            <input matInput id="name" type="text" formControlName="name">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" class="add-recipe-input">
                            <mat-label>Personen</mat-label>
                            <input matInput id="persons" type="number" formControlName="persons" min="0">
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="fill" class="add-recipe-input">
                            <mat-label>Vorbereitungszeit</mat-label>
                            <input matInput id="preperation-time" type="number" formControlName="preperation_time"
                                   min="0">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Einheit</mat-label>
                            <select matNativeControl required formControlName="preperation_time_unit">
                                <option value="Minuten">Minuten</option>
                                <option value="Stunden">Stunden</option>
                            </select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" class="add-recipe-input">
                            <mat-label>Gesamtdauer</mat-label>
                            <input matInput id="total-time" type="number" formControlName="total_time" min="0">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Einheit</mat-label>
                            <select matNativeControl required formControlName="total_time_unit">
                                <option value="Minuten">Minuten</option>
                                <option value="Stunden">Stunden</option>
                            </select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <button mat-raised-button class="button-favorites" color="accent" aria-label="Heart icon" type="submit">
                <mat-icon>favorite</mat-icon>
                Favoriten
            </button>
        </form>

    </mat-step>

    <mat-step [stepControl]="ingredients">
        <ng-template matStepLabel>Zutaten</ng-template>
    </mat-step>


    <mat-step [stepControl]="steps">
        <ng-template matStepLabel>Zubereitung</ng-template>
    </mat-step>

</mat-stepper>
