<main>
    <p>
        <mat-toolbar color="primary">
            <a routerLink="/" class="title-link"><span>MCR - My Cooking Recipes</span></a>
            <span class="toolbar-spacer"></span>
          <button mat-raised-button class="button-add-recipe" color="accent" routerLink="/new_recipe">
            <mat-icon>add</mat-icon>  Rezept hinzufügen
          </button>
          <button mat-raised-button class="button-favorites" color="accent" aria-label="Heart icon">
            <mat-icon>favorite</mat-icon> Favoriten
          </button>
        </mat-toolbar>
    </p>

    <section class="content">
        <router-outlet></router-outlet>
    </section>
</main>

